* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --accent-color: orangered;
    --background-color: white;
    --text-color: black;
    --button-text-color: var(--background-color);
    --transition-delay: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    transition: var(--transition-delay);
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
}

body.sun-theme {
    --accent-color: orangered;
    --background-color: white;
    --text-color: black;
}

body.moon-theme {
    --accent-color: #d0d066;
    --background-color: #333;
    --text-color: white;
}

body.ocean-theme {
    --accent-color: #7fcdff;
    --background-color: #064273;
    --text-color: white;
}

body.twitter-theme {
    --accent-color: #1da1f2;
    --background-color: #15202b;
    --text-color: white;
}

.title {
    margin: 0;
    margin-bottom: 0.5rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    border: none;
    outline: none;
    transition: var(--transition-delay);
    transform: scale(1);
}

.button.sun-button {
    background-color: orangered;
    color: white;
}

.button.moon-button {
    background-color: #d0d066;
    color: white;
}

.button.ocean-button {
    background-color: #7fcdff;
    color: white;
}

.button.twitter-button {
    background-color: #1da1f2;
    color: white;
}

.button:hover,
:focus {
    transform: scale(1.1);
}

.icon-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    top: 0;
    height: 200vmin;
}

.sun,
.moon,
.ocean,
.twitter {
    position: absolute;
    top: 5%;
    transition: opacity, fill, var(--transition-delay);
    width: 30px;
    height: 30px;
    fill: var(--accent-color);
}

.sun,
.moon,
.ocean,
.twitter {
    opacity: 0;
}

.sun-theme .sun {
    opacity: 1;
}

.moon-theme .sun {
    opacity: 0;
}

.moon-theme .moon {
    opacity: 1;
}

.ocean-theme .ocean {
    opacity: 1;
}

.twitter-theme .twitter {
    opacity: 1;
}
